# Ignore Python virtual environment
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Environment files
.env
.env.*

# VS Code settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# MacOS files
.DS_Store

# Windows files
Thumbs.db

# Logs
*.log

# PyCharm project files
.idea/
